body {
	background: #efe;
	color: #353;
}

h1 {
	color: blue;
	text-transform: uppercase;
	letter-spacing: 2pt;
}

#ordering {
	margin:auto;
	width: 40em;
	text-align: center;

}

#orders {
	margin:auto;
	width: 40em;
	color: red;
	text-align: center;
	
}

#smoothieOrder {
	margin:auto;
	width: 10em;
	color: blue;
	text-align: center;
	border-style: solid;
	border-width: 3px;
}

#kitchenVue{
	border-style: solid;
	border-width: 3px;
	padding: 10px;
	width: 600px;
    height: 900px;
    background: aqua;
    text-align: center;
    
}

#one{
	border-style: solid;
	border-width: 3px;
	float: left;
	width: 400px;
    height: 700px;
    background: green;
    float: left;

}

#two{
	border-style: solid;
	border-width: 3px;
	margin: auto;
	width: 170px;
    height: 700px;
    text-align: center;
    overflow:hidden;
}

#three{
	border-style: solid;
	border-width: 3px;
	margin: auto;
	width: 580px;
	height: 180px;
	bottom: 5px;

}


.ingredient {
	border: 1px solid #cdc;
	padding: 1em;
}


#smoothie-page {
	display: none;
}

#juice-page {
	display: none;
}

#stock-page {
	display: none;
}


button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}