body {
	background: #efe;
	color: #353;
}

h1 {
	color: #670;
	text-transform: uppercase;
	letter-spacing: 2pt;
}

#ordering {
	margin:auto;
	width: 40em;
}

#orders {
	margin:auto;
	width: 40em;
}

.ingredient {
	border: 1px solid #cdc;
	padding: 1em;
}


#smoothie-page {
	display: none;
}

#juice-page {
	display: none;
}

#stock-page {
	display: none;
}


button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}